[Unit]
Description=HBase Master Daemon
Documentation=http://hbase.apache.org//
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=-/opt/hbase/bin/hbase master start
User=hbase

[Install]
WantedBy=multi-user.target
