[Unit]
Description=Solr Daemon
Documentation=http://lucene.apache.org/solr/
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=-/opt/solr/bin/solr start -f
User=solr

[Install]
WantedBy=multi-user.target
