[Unit]
Description=YARN Nodemanager Daemon
Documentation=http://hadoop.apache.org/
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=-/usr/local/bin/yarn nodemanager
User=yarn

[Install]
WantedBy=multi-user.target
