[Unit]
Description=YARN ResourceManager Daemon
Documentation=http://hadoop.apache.org/
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=-/opt/hadoop/bin/yarn resourcemanager
User=yarn

[Install]
WantedBy=multi-user.target
