[Unit]
Description=YARN ResourceManager Daemon
Documentation=http://hadoop.apache.org/

[Service]
Type=simple
ExecStart=-/usr/local/bin/yarn resourcemanager
Environment=JAVA_HOME=/etc/alternatives/jre
User=yarn

[Install]
WantedBy=multi-user.target
