[Unit]
Description=Hive Server
Documentation=ttps://hive.apache.org/
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=-/opt/hive/bin/hiveserver2
User=hive

[Install]
WantedBy=multi-user.target
