[Unit]
Description=Hive WebHCat
Documentation=https://hive.apache.org/
After=network-online.target
Requires=network-online.target

[Service]
Type=simple
ExecStart=-/opt/hive/hcatalog/sbin/webhcat_server.sh foreground
User=hive

[Install]
WantedBy=multi-user.target
